@font-face {
    font-family: 'Gill-Sans-Bold';
    src: url('Gill-Sans-Bold.woff2') format('woff2'),
         url('Gill-Sans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Gill-Sans-SemiBold';
    src: url('Gill-Sans-SemiBold.woff2') format('woff2'),
         url('Gill-Sans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.woff2') format('woff2'),
         url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium.woff2') format('woff2'),
         url('Roboto-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.woff2') format('woff2'),
         url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}